{% extends 'base.html.twig' %}

{% block body %}
    <h1>Task</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ task.id }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ task.type }}</td>
            </tr>
            <tr>
                <th>External ID</th>
                <td>{{ task.externalIdentifier }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if task.date %}{{ task.date|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Url</th>
                <td>{{ task.url }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ task.description }}</td>
            </tr>
            <tr>
                <th>Value</th>
                <td>{{ task.value }}</td>
            </tr>
            <tr>
                <th>Identifier string</th>
                <td>{{ task.identifierString }}</td>
            </tr>
            <tr>
                <th>Identifier type</th>
                <td>{{ task.identifierType }}</td>
            </tr>
            <tr>
                <th>Contributor</th>
                <td>{% if task.identifier.contributor.name is defined %}                         <a href="{{ path('contributor_view', { 'contactId': task.identifier.contributor.contactId }) }}">
                                            {{ task.identifier.contributor.name }}
                                        </a>
 {% else %} [not identified] {% endif %}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
